.signup-form-wrapper {
  margin-top: 50px;
  padding-bottom: 50px;
  & > form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;

    .row-fields {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .mat-form-field {
      margin-bottom: 10px;
    }

    button {
      align-self: flex-end;
      max-width: 100px;
    }
  }
}